/* Pagina per movil */
@media only screen and (max-width: 600px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    body {     
            display: grid;
            background-color: aliceblue;
    }
  }
  @media only screen and (min-width: 600px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    body {     
            display: grid;
            
            grid-template-rows: [row1]50px[row2]400px[row3]300px[row4]800px[row5]400px[row6]200px[row7] ;
    }
    #s1{
      grid-row-start: row2;
      grid-row-end: row3;
      width: 100%;
      height: 100%;
    }
    #s2{
      grid-row-start: row3;
      grid-row-end: row4;
      width: 100%;
      height: 100%;
    }
    #s3{
      grid-row-start: row4;
      grid-row-end: row5;
      width: 100%;
      height: 100%;
    }
    #s4{
      grid-row-start: row5;
      grid-row-end: row6;
      width: 100%;
      height: 100%;
    }
    header{
      grid-row-start: row1;
      grid-row-end: row2;
      width: 100%;
      background-color: yellow;
      height: 100%;
    }
    footer{
      grid-row-start:row6;
      grid-row-end: row7;
      width: 100%;
      background-color: blue;
      height: 100%;
    }
  }

