/* Pagina per movil */
@media only screen and (max-width: 600px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    body {     
            display: grid;
            background-color: aliceblue;
    }
  }
  @media only screen and (min-width: 600px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    body {     
            display: grid;
            background-color: red;
            grid-template-rows: [row1]50px[row2]400px[row3]300px[row4]800px[row5]400px[row6]200px[row7] ;
    }
  }

